body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

a {
  color: deepskyblue;
  text-decoration: none;
}

.portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
